<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>child_care</mat-icon>
  </button>
  <span>Fiabe e Poesie</span>
  <span class="example-spacer"></span>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button> -->
  <button mat-raised-button color="warn" (click)="createKid()">
    Nuovo Bambino
  </button>
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Cerca Bambino per Cognome</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder=""
        #input
        autocomplete="off"
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="sortData($event)"
        matSortActive="cognome"
        matSortDirection="asc"
      >
        <ng-container matColumnDef="cognome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cognome</th>
          <td mat-cell *matCellDef="let row">{{ row.cognome }}</td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="dataNascita">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Data di Nascita
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.dataNascita | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="luogoNascita">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Luogo di Nascita
          </th>
          <td mat-cell *matCellDef="let row">{{ row.luogoNascita }}</td>
        </ng-container> -->

        <ng-container matColumnDef="iscrizione">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
            Iscrizione
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.iscrizione | currency: 'EUR':'symbol':'1.2-2':'it' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rettaMensile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
            Retta Mensile
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.rettaMensile | currency: 'EUR':'symbol':'1.2-2':'it' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="speseVarie">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
            Spese Varie
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.speseVarie | currency: 'EUR':'symbol':'1.2-2':'it' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="attivita">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
            Attività Didattiche
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.attivita | currency: 'EUR':'symbol':'1.2-2':'it' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="bolliFatture">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
            Bolli Fatture
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.bolliFatture | currency: 'EUR':'symbol':'1.2-2':'it' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              color="primary"
              title="Modifica"
              (click)="editKid(row)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              title="Elimina"
              (click)="confirmDeleteDialog(row)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Nessun risultato per "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
